<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @student_level.level %>
</p>

<%= link_to 'Edit', edit_student_level_path(@student_level) %> |
<%= link_to 'Back', student_levels_path %>
