<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @age_of_student.age %>
</p>

<%= link_to 'Edit', edit_age_of_student_path(@age_of_student) %> |
<%= link_to 'Back', age_of_students_path %>
