<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_of_class.name %>
</p>

<%= link_to 'Edit', edit_type_of_class_path(@type_of_class) %> |
<%= link_to 'Back', type_of_classes_path %>
